QHeaderView {
    background-color: #fff;
}
QHeaderView::section:horizontal {
    color: #fff;
    border: 1px black;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }

QHeaderView::section:vertical {
    color: #fff;
    border: 1px black;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
 }
QTableView {
    border: 2px solid #3873d9;
    border-top-color: #4287ff;
    border-radius: 4px;
    background-color: #fff;
    gridline-color: #777;
    selection-background-color: gray;
    color:#333;
 }

QPushButton:hover{
    color: #356ccc;
}
QPushButton{
    border: 1px solid gray;
    border-radius: 2%;
    height: 25px;
    width: 100px;
}

#BtnMenu{
    height: 55px;
    width: 150px;
}


QGroupBox{
    background-color: ghostwhite;
    border-radius: 4%;
    width: 150px;
}
QRadioButton:hover{
    color: #3873d9;
}

QRadioButton:checked{
    color: green;
}

QScrollBar:vertical {
     background: #e4e4e4;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     width: 12px;
     margin: 0px;
 }
 QScrollBar::handle:vertical {
    background-color: qlineargradient( x1: 0, y1: 0, x2: 1, y2: 0,
                                    stop: 0 #4287ff, stop: 1 #356ccc);
     border-radius: 4px;
     min-height: 20px;
     margin: 0px 2px 0px 2px;
 }
 QScrollBar::add-line:vertical {
     background: none;
     height: 0px;
     subcontrol-position: right;
     subcontrol-origin: margin;
 }
 QScrollBar::sub-line:vertical {
     background: none;
     height: 0px;
     subcontrol-position: left;
     subcontrol-origin: margin;
 }

 QComboBox{
     border: 1px solid black;
     border-radius: 4%;
     background-color: lightgrey;
     color: black;
 }

 QComboBox:hover{
     color: #3873d9;
 }